<form class="user-form" #userForm="ngForm" (ngSubmit)="onAdd()">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">First Name</label>
        <input type="hidden" id="userID" name="userID" #userID="ngModel" [(ngModel)]="user.userID"/>
        <input type="text" class="form-control" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName" required>
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required>
        <!-- <div class="validation-error" *ngIf="ItemCode.invalid && ItemCode.touched">This field is required</div> -->
      </div>
      <div class="form-group col-md-4">
          <label for="userName">User Code</label>
          <input type="text" class="form-control" name="userName" #userName="ngModel" [(ngModel)]="user.userName" required>
          <!-- <div class="validation-error" *ngIf="ItemCode.invalid && ItemCode.touched">This field is required</div> -->
        </div>
        <div class="form-group col-md-4">
            <label for="resetPassword">Reset Password</label>
            <select class="form-control" name="resetPassword" #resetPassword="ngModel" [(ngModel)]="user.resetPassword" required>
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="isActive">Active</label>
            <select class="form-control" name="isActive" #isActive="ngModel" [(ngModel)]="user.isActive" required>
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="isAdmin">Admin</label>
            <select class="form-control" name="isAdmin" #isAdmin="ngModel" [(ngModel)]="user.isAdmin" required>
                <option value="N">No</option>
                <option value="Y">Yes</option>
            </select>
        </div>
    </div>
  <div class="row">
      <div class="form-group col-md-4">
      </div>
      <div class="form-group col-md-2">
        <button [disabled]="!userForm.valid" type="button" class="btn btn-block btn-info" (click)="onAdd()" title="Add to list"><i class="fas fa-plus"></i> {{btn}}</button>
      </div>
      <div class="form-group col-md-2">
        <button type="button" class="btn btn-block btn-secondary" (click)="getUsers()" title="Clear form"><i class="fas fa-undo"></i> Reset</button>
      </div>
      <div class="form-group col-md-4">
      </div>
    </div>
  </form>
  <div class="row">
      <div class="col-md-12">
        <table class="table table-sm table-hover">
          <thead>
            <td><strong>User Code</strong></td>
            <td><strong>First Name</strong></td>
            <td><strong>Last Name</strong></td>
            <td><strong>Is Admin</strong></td>
            <td><strong>Active</strong></td>
            <td align="right"><strong>Action</strong></td>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>
                  {{user.userName}}
                </td>
              <td>
                {{user.firstName}}
              </td>
              <td>
                {{user.lastName}}
              </td>
              <td>
                {{user.isAdmin == "Y" ? "Yes" : "No"}}
              </td>
              <td>
                  {{user.isActive == "Y" ? "Yes" : "No"}}
                </td>
              <td align="right">
                <a class="btn btn-primary" (click)="showForEdit(user)" >
                  <i class="fas fa-edit text-white"></i>
                </a>
                <a class="btn btn-danger">
                    <i class="fas fa-trash text-white" (click)="removeUser(user)"></i>
                  </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>