<app-navbar></app-navbar>
<div class="container">
<div class="div-per">
    <h2 class="bg-secondary text-white h-per">
      EXISTING PAYMENT INVOICE
    </h2>
</div>
<div class="row">
    <div class="col-md-12">
      <table class="table table-sm table-hover">
        <thead>
          <td>Invoice Number</td>
          <td>Date</td>
          <td>Customer Name</td>
          <td>Total</td>
          <td>Status</td>
          <td>Action</td>
        </thead>
        <tbody>
          <tr *ngFor="let idt of InvoiceArray">
            <td>
              {{idt.invoiceNumber}}
            </td>
            <td>
              {{idt.invoiceDate | date:'dd-MM-yyyy'}}
            </td>
            <td>
              {{idt.customerName}}
            </td>
            <td>
              {{idt.invoiceTotal | currency : "NGN"}}
            </td>
            <td>
                {{idt.status}}
              </td>
            <td>
              <a *ngIf="idt.status=='Open'" class="btn btn-primary text-white" [routerLink]="['/print-invoice', idt.invoiceMasterID]" >
                <i class="fa fa-print"></i>
              </a>
              <a *ngIf="idt.status=='Open'" class="btn btn-danger text-white" (click)="reverseInvoice(idt)">
                  <i class="fa fa-ban"></i>
                </a>
            </td>
        
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>