<app-navbar></app-navbar>
<div class="container">
<div class="div-per">
    <h2 class="bg-secondary text-white h-per">
      EXISTING PAYMENT INVOICE
    </h2>
</div>
<div class="row">
    <div class="col-md-12">
      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover table table-sm table-hover">
        <thead>
          <tr>
            <th><strong>Number</strong></th>
            <th><strong>Date</strong></th>
            <th><strong>Customer Name</strong></th>
            <th><strong>Total</strong></th>
            <th><strong>Status</strong></th>
            <th><strong>Action</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let idt of InvoiceArray">
            <td>
              {{idt.invoiceNumber}}
            </td>
            <td>
              {{idt.invoiceDate | date:'dd-MM-yyyy'}}
            </td>
            <td>
              {{idt.customerName}}
            </td>
            <td>
              {{idt.invoiceTotal | currency : "NGN"}}
            </td>
            <td>
                {{idt.status}}
              </td>
            <td>
              <a *ngIf="idt.status=='Open'" class="btn btn-primary text-white" [routerLink]="['/print-invoice', idt.invoiceMasterID]" >
                <i class="fas fa-print"></i>
              </a>
              <a *ngIf="idt.status=='Open'" class="btn btn-danger text-white" (click)="reverseInvoice(idt)">
                  <i class="fas fa-ban"></i>
                </a>
            </td>
        
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>