<app-navbar></app-navbar>
<div class="container">
<div class="div-per">
    <h2 class="bg-secondary text-white h-per">
    PAYMENT INVOICE
  </h2>
</div>
<div class="alert alert-success alert-dismissible text-center" *ngIf="print">
  Invoice {{ invID }} Created! <a class="btn btn-primary text-white" [routerLink]="['/print-invoice', invID]">Print</a>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="row">
  <div class="col-md-12">
    <form class="inv-form" #invoiceForm="ngForm" (ngSubmit)="onSubmit(invoiceForm)">
      <div class="form-row">
          <input type="hidden" name="invoiceID" #invoiceID="ngModel" [(ngModel)]="invoice.invoiceMasterID">
          <div class="form-group col-md-6">
            <label for="customerName">Customer Name</label>
            <input class="form-control" name="customerName" #customerName="ngModel" [(ngModel)]="invoice.customerName" placeholder="Customer Name" required>
              <!-- <div class="validation-error" *ngIf="CustomerName.invalid && CustomerName.touched">This field is required</div> -->
          </div>
          <div class="form-group col-md-2"></div>
          <div class="form-group col-md-2">
              <label for="status">Status</label>
              <input disabled class="form-control" name="status" #status="ngModel" [(ngModel)]="invoice.status">
          </div>
          <div class="form-group form-group col-md-2">
              <label for="invoiceNumber">Invoice No.</label>
              <input disabled class="form-control" name="invoiceNumber" #invoiceNumber="ngModel" [(ngModel)]="invoice.invoiceNumber">
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
            <label for="schoolSessionID">Session</label>
            <!-- <input class="form-control" name="SchoolSession" #SchoolSession="ngModel" [(ngModel)]="invoice.SchoolSession"> -->
            <select class="form-control" name="schoolSessionID" #schoolSessionID="ngModel" [(ngModel)]="invoice.schoolSessionID" (change)="onChange('class')" required>
                <!-- <option  value=""></option> -->
                <option *ngFor="let ss of schoolSession" value="{{ss.schoolSessionID}}">{{ss.schoolSessionName}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="studentClassID">Class</label>
            <!-- <input type="text" class="form-control" name="StudentClass" #StudentClass="ngModel" [(ngModel)]="invoice.StudentClass" placeholder="Class"> -->
            <select class="form-control" name="studentClassID" #studentClassID="ngModel" [(ngModel)]="invoice.studentClassID" (change)="onChange('term')" [disabled]="!enableCls" required>
                <option *ngFor="let sc of studentClass" value="{{sc.studentClassID}}">{{sc.studentClassName}}</option>
            </select>
        </div>
        <div class="form-group col-md-2">
          <label for="schoolTermID">Term</label>
          <!-- <input type="text" class="form-control" name="SchoolTerm" #SchoolTerm="ngModel" [(ngModel)]="invoice.SchoolTerm" placeholder="Term"> -->
          <select class="form-control" name="schoolTermID" #schoolTermID="ngModel" [(ngModel)]="invoice.schoolTermID" placeholder="Term" (change)="onChange('item')" [disabled]="!enableTerm" required>
              <option *ngFor="let st of schoolTerm" value="{{st.schoolTermID}}">{{st.schoolTermName}}</option>
          </select>
        </div>
        <div class="form-group col-md-2"></div>
        <div class="form-group col-md-2">
            <label for="invoiceDate">Invoice Date</label>
            <input type="date" class="form-control" name="invoiceDate" #invoiceDate="ngModel" [(ngModel)]="invoice.invoiceDate" placeholder="Invoice Date" required>
            <!-- <div class="validation-error" *ngIf="InvoiceDate.invalid && InvoiceDate.touched">This field is required</div> -->
        </div>
        <div class="form-group col-md-2">
            <label for="discount">Discount</label>
            <input type="number" [min]="0" [max]="100" class="form-control" name="discount" #discount="ngModel" [(ngModel)]="invoice.discount" (keyup)="calculateTotal()">
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
            <label for="itemID">Item Description</label>
          <!-- <input class="form-control" name="ItemCode" #ItemCode="ngModel" [(ngModel)]="invoiceDetail.ItemCode" placeholder="Item Code" required> -->
          <select class="form-control" name="itemID" #itemID="ngModel" [(ngModel)]="invoiceDetail.itemID" (change)="onChangeItem()" [disabled]="!enableItem" required>
            <option *ngFor="let item of items" value="{{item.itemID}}">{{item.itemName}}</option>
          </select>
          <!-- <div class="validation-error" *ngIf="ItemCode.invalid && ItemCode.touched">This field is required</div> -->
        </div>
        <div class="form-group col-md-1">
            <label for="qty">Qty</label>
          <input type="number" [min]="1" class="form-control" name="qty" #qty="ngModel" [(ngModel)]="invoiceDetail.qty" placeholder="Qty" required>
        </div>
        <div class="form-group col-md-2">
            <label for="unitPrice">Unit Price</label>
          <input type="number" [min]="0" class="form-control" name="unitPrice" #unitPrice="ngModel" [(ngModel)]="invoiceDetail.unitPrice" placeholder="Unit Price" disabled required>
        </div>
        <div class="form-group col-md-2">
            <label for="lineTotal">Line Total</label>
          <input disabled class="form-control" name="lineTotal" #lineTotal="ngModel" [(ngModel)]="invoiceDetail.lineTotal" placeholder="LineTotal" value="{{ invoiceDetail.qty * invoiceDetail.unitPrice | currency : 'NGN'}}">
        </div>
        <div class="form-group col-md-1">
            <label for="">&nbsp;</label>
            <button [disabled]="!invoiceForm.valid" type="button" class="btn btn-block btn-info" (click)="onAdd()" title="Add to list"><i class="fa fa-plus"></i></button>
        </div>
        <div class="form-group col-md-1">
            <label for="">&nbsp;</label>
            <button type="button" class="btn btn-block btn-secondary" (click)="clear()" title="Clear form"><i class="fa fa-undo"></i></button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-sm table-hover">
      <thead>
        <td>Item Description</td>
        <td>Qty</td>
        <td>Price</td>
        <td>Total</td>
        <td>Action</td>
      </thead>
      <tbody>
        <tr *ngFor="let idt of InvoiceArray">
          <td>
            {{idt.itemName}}
          </td>
          <td>
            {{idt.qty}}
          </td>
          <td>
            {{idt.unitPrice | currency : "NGN"}}
          </td>
          <td>
            {{idt.lineTotal | currency : "NGN"}}
          </td>
          <td>
            <!-- <a class="btn btn-primary" (click)="showForEdit(idt)" >
              <i class="fa fa-pencil-square-o"></i>
            </a> -->
            <a class="btn btn-danger text-white" (click)="onRemove(idt)">
                <i class="fas fa-trash"></i>
              </a>
          </td>
      
        </tr>
      </tbody>
    </table>
  </div>
</div>
<br/>
<div class="row">
  <div class="form-group col-md-8">
    
  </div>
  <div class="form-group col-md-4" style="border: 1px solid; border-radius: 4px;">
      <div class="row">
    <div class="col-md-6">Discount: </div>
    <div class="col-md-6">{{ invoiceDiscount | currency : "NGN"}}</div>
    </div>
  </div>
</div>
<div class="row">
    <div class="form-group col-md-8">
      
    </div>
    <div class="form-group col-md-4" style="border: 1px solid; border-radius: 4px;">
        <div class="row">
        <div class="col-md-6">Total Before Discount: </div>
        <div class="col-md-6">{{ invoiceTotalBeforeDiscount | currency : "NGN"}}</div>
        </div>
    </div>
</div>
<div class="row">
  <div class="form-group col-md-8">
    
    </div>
    <div class="form-group col-md-4" style="border: 1px solid; border-radius: 4px;">
        <div class="row">
        <div class="col-md-6">Total After Discount: </div>
        <div class="col-md-6">{{ invoiceTotal | currency : "NGN"}}</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-3">
        <button [disabled]="!formReady" type="submit" class="btn btn-lg btn-block btn-success" (click)="onSubmit()" title="Add to list"><i class="fa fa-floppy-o"> Save</i></button>
    </div>
    <div class="form-group col-md-3">
        <button type="button" class="btn btn-lg btn-block btn-secondary" (click)="resetForm(invoiceForm)" title="Clear form"><i class="fa fa-repeat"> Reset</i></button>
    </div>
      <div class="form-group col-md-6">
        
      
      </div>
  </div>
  </div>